body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    font-size: 1.1em;
}
main {
  display: block;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    color: black;
    background-color: white;
    z-index: 2;
}
header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 0;
}
footer {
    margin: 8em auto 1em auto;
    display: block;
}

p {
  line-height: 1.4;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.row {
  display: flex;
  gap: 1em;
}

.col {
  flex: 1;
}

.footer {
    width: 50%;
    font-size: .75em;
}
.footer ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    gap: 1em;
    list-style-type: none;
}

.footer ul li {
    margin: 0;
}
#logo {
    margin: 0;
    font-size: 1.5em;
}
#hamburger {
    display: none;
    height: 2em;
    background: none;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    float: right;
    margin-right: 1.5em;
}

.logo-group {
    text-decoration: none;
    color: black;
}

.subscribe {
    border: none;
    border-radius: 5px;
    padding: .5em 1em .5em 1em;
    background-color: rgb(127, 245, 127);
}

header ul {
  z-index: 2;
  display: flex;
  align-items: center;
  margin: 0;
}

header ul a {
    color: black;
    text-decoration: none;
    margin: .5em 2em .5em 2em;
}
header ul a:hover {
    text-decoration:underline;
}
img.rounded {
    border-radius: 5px;
    filter: drop-shadow(6px 6px 0 black);
}
nav {
    z-index: 2;
    position: sticky;
    top: 4em;
    width: 100%;
    background-color: white;
    transition: height .3s ease;
    overflow-y: hidden;
}
nav .container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
nav .mlinks {
    visibility: hidden;
}
nav button {
    font-size: 1em;
    background: none;
    border: none;
}
nav a, nav button {
    width: fit-content;
    margin: 1em 0 0 0;
    padding: .2em;
}
.block {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
}
.block h2, .block h3 {
  margin-top: 0;
  margin-bottom: 1em;
}
.main {
    background: black;
    color: white;
    padding: 3em 2em;
}
.main .txt {
    margin-bottom: 2em;
}
.main .txt h1 {
    font-size: 3.5em;
    margin-bottom: 0.75em;
    margin-top: 0;
    line-height: 1.1;
}
.main .txt h2, .main .txt h3 {
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.4;
}
.typeform-button button {
    display: inline-block !important;
    position: relative !important;
    color:white !important;
    background: none !important;
    line-height: normal !important;
    border-radius: 0px !important;
    padding: 0 !important;
    height: 22px !important;
}
.typeform-button button:after {
  content: '' !important;
  position: absolute !important;
  width: 100% !important;
  transform: scaleX(0) !important;
  height: 2px !important;
  bottom: 0 !important;
  left: 0 !important;
  background-color: white !important;
  transform-origin: bottom right !important;
  transition: transform 0.25s ease-out !important;
}
.typeform-button button:hover:after {
    transform: scaleX(1) !important;
    transform-origin: bottom left !important;
}
.main .txt2 h2 {
    display: flex;
    width: fit-content;
    border-radius: 5px;
    padding: .2em .8em .35em .8em;
    background-color: rgb(93, 93, 255);
    filter: drop-shadow(6px 6px 0 white)
}
.nav-tf-btn {

}
.main .txt2 h2:hover {background-color: rgb(24, 24, 189);}
.main .txt2 h2 a {
    color: white;
}
.main .txt2 h2 img {
    width: 12px;
    margin: 0 0 .15em .1em;
}
.main .report {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.main .report .report-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.main .report .report-wrapper img {
  flex: 0 0 100%;
}
.main .report img {
    width: 100%;
}
.main .report aside {
    display: flex;
    flex-direction: row;
    margin-top: .7em;
}
.main .report aside img {
    height: 15px;
    margin: 0 .35em 0 .35em;
}
.main {
  display: block;
  position: relative;
}
.quote {
    padding: 1em;
    overflow-x: hidden;
}

.qt {
    position: relative;
    width: 100%;
    margin: 0 1em;
}
.quoteWrapper {
    position: relative;
    transition: transform 0.5s ease-in-out;
    flex-direction: row;
    display: flex;
    width: 200%;
}
.quote .quoteWrapper .qt article h2 {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0em;
}
.quote .quoteWrapper .qt .quotedecoration {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote .quoteWrapper .qt .quotedecoration img {
    width: 250px;
    margin: 2em 0;
}
.quote .quoteWrapper .qt .quoteauthor {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:center;
    align-items: center;
    margin-bottom: 1em;
}
.qt article h2, .faq h2, .about h2, .howitworks h2 {
    font-size: 2em;
}
.quote .quoteWrapper .qt .quoteauthor img {
    width: 70px;
    height: 70px;
    margin-right: 1em;
}
.quote .quoteWrapper .qt .quoteauthor p {
    text-align: right;
    font-size: 1.2em;
}
.quoteauthor p i {
    font-size: .8em;
    margin-left: .2em;
}
.howitworks, .customreport {
    background-color: rgb(197, 197, 255);
}
.howitworks article {
  margin-bottom: 2em;
}
.howitworks article h3 {
    display: flex;
    align-items: center;
    font-weight: 600;
}
.handchecked, .customreport {
    display: flex;
}
.handchecked p, .customreport p {
  margin-bottom: 0;
}
.handchecked img, .customreport img {
    max-width: 120px;
    max-height: 120px;
}
.howitworks .btmbtn {
    display: flex;
    border: none;
    background-color: rgb(93, 93, 255);
    filter: drop-shadow(6px 6px 0 black);
    padding: .4em 1.2em .4em 1.2em;
    border-radius: 5px;
    margin-top: 3em;
    margin-bottom: 1em;
}
.btmbtn:active {filter: none;}
.btmbtn:hover {background-color: rgb(24, 24, 189);}
.howitworks .btmbtn img {
    width: 12px;
    margin: 0 0 .15em .1em;
}
/*
.main .report .rhead{
    display: flex;
    z-index: 0;
    flex-direction: row;
    align-items: center;
    margin: 1em;
    padding: 1em;
    color: black;
    filter: drop-shadow(10px 10px 0 white);
    background-color: rgb(255, 235, 181);
    border: 1px solid black;
    border-radius: 5px;
}
.main .report .rbody {
    color: black;
    filter: drop-shadow(10px 10px 0 white);
    background-color: rgb(255, 235, 181);
    border: 1px solid black;
    border-radius: 5px;
} */
.about-carousel .about-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.about-carousel h3 {
    margin-bottom: 0.5em;
}
.about-carousel p {
  margin: 0;
}
.about-carousel img {
    width: 90px;
    height: 90px;
    margin-right: 1em;
    border-radius: 5px;
    filter: drop-shadow(6px 6px 0 black);
}
.faq div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.faq div p {
}
.faq article p a {
    color: black;
}
.faq article {
    height: fit-content;
    border-bottom: 1px solid black;
}
.faq article:last-child {
  border-bottom: none;
}
.faq article span {
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.faq article span h4 {
    font-weight: medium;
    margin: .75em 0;
}
.faq article span img {
    width: 15px;
    height: 30px;
    transition: transform .2s linear;
}
.faq article p {
    display: none;
    margin-top: 0em;
}
.faq .q0 h4 {
  margin-top: 0;
}

.top-quote > p {
    margin-top: 0.5em;
}

.top-quote > p > b {
    margin: auto;
    display: block;
    text-align: center;
}

.logo-img {
    max-height: 35px;
}

.left-element {
    display : flex;
}

h1#logo {
    margin-left: 20px;
}

.bottom-quote {
    display: flex;
    justify-content: center;
}

@media (max-width: 755px) {
  .row {
    display: block;
  }

  header ul {
      display: none;
      flex-direction: row;
  }

  #hero {
    margin-bottom: 2em;
  }

  #hamburger {
    display: block;
  }
}

